<div ng-controller="ReSetPasswordController" ng-init="init()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">重置密码</h3>
  </div>
  <div class="modal-body">
    <form name="setPasswprd">
      <fieldset style="margin-left: 20px">
        <!--<label>原密码</label>-->
        <!--<input ui-Blur="checkPassword()" type="password" ng-model="prePassword" placeholder="" style="color: #201818!important;" required />-->
        <label>新密码</label>
        <input type="password" ng-model="newPassword" placeholder="" style="color: #201818!important;" required/>
        <label>确认密码</label>
        <input type="password" ng-model="passwordConfirmation" placeholder="" style="color: #201818!important;" required/>
      </fieldset>
    </form>
    <div class="alert alert-block alert-danger fade in" style="display: none">
      <button type="button" class="close" onclick="$('.alert').hide()">×</button>
      <h4 class="alert-heading">警告！</h4>
      <p class="ng-binding">{{errorDetail}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <!--<button class="btn" ng-click="test()">Test</button>-->
    <button class="btn" ng-click="dismiss()">取消</button>
    <button class="btn btn-primary" ng-click="setPassword()" ng-disabled="setPasswprd.$error.required">重置</button>
  </div>
</div>
