<div class="box-header">
	<h2><i ng-class="currentView.icon"></i><span class="break"></span>{{currentView.name}} - 详情</h2>
	<div class="box-icon">
		<a ng-click="showList()" class="btn-close"><i class="icon-remove"></i></a>
	</div>
</div>
<div class="box-content">
	<div class="span12">
		<a ng-repeat="shortcut in profileShortcuts" ng-class="shortcut.styleclass" ng-click={{shortcut.op}}>
			<i ng-class="shortcut.icon" />
			<p>{{shortcut.text}}</p>
		</a>
	</div>
	
	<div class="span12">
		<div class="span1" />
		<div class="span1" ng-show="profileAvatar">
			<img src={{profileAvatar}} alt="Avatar" class="img-circle">
		</div>
		<div class="span9">
			<table class="table table-striped">
			  <tbody>
					<tr ng-repeat="field in profileFields" ng-show="!field.unlist">
						<td class="center"><h3>{{field.title}}</h3></td>
						<td class="center">
							<h4 ng-if="field.value">{{field.value(entity)}}</h4>
							<h4 ng-if="!field.value">{{valueOfKeyString(entity, field.name)}}</h4>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
